body {
  padding: 20px;
  text-align: center;
  background: #f9f9f9;
  font-family: 'Noto Nastaliq Urdu', serif;
}
h5 {
  margin: 0;
  font-size: 1.5rem;
}
.hide {
  display: none!important;
}
.players {
  gap: 20px;
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 120px;
  height: 180px;
  display: flex;
  background: white;
  position: relative;
  border-radius: 10px;
  align-items: center;
  border: 2px solid #aaa;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 5px #999;
}
.card img {
  width: 64px;
  height: 64px;
}
.scores, .history {
  gap: 20px;
  display: flex;
  direction: rtl;
  margin-top: 20px;
  text-align: right;
  align-items: center;
}
.scores {
  justify-content: center;
  /*align-items: center;*/
}
.history {
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}
.btn {
  margin: 0;
  font: inherit;
  text-indent: 0;
  cursor: pointer;
  appearance: auto;
  text-shadow: none;
  user-select: none;
  color: buttontext;
  border-width: 2px;
  padding-block: 5px;
  text-align: center;
  border-radius: 5px;
  line-height: normal;
  padding-inline: 20px;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  border-style: outset;
  display: inline-block;
  border-image: initial;
  letter-spacing: normal;
  box-sizing: border-box;
  background: buttonface;
  border-color: buttonborder;
  -webkit-appearance: button;
}
.secondary {
  color: #fff;
  padding: 5px;
  font-size: .8rem;
  background: #900;
}
.btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.btn:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.hidden-role {
  color: #ccc;
}
.history-entry {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}