body {
  text-align: center;
  background: #f9f9f9;
  font-family: 'Noto Nastaliq Urdu', serif;
}
h5 {
  margin: 0;
  font-size: 1rem;
}
.hide {
  display: none!important;
}
.players {
  gap: 10px;
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 80px;
  height: 120px;
  display: flex;
  background: white;
  position: relative;
  border-radius: 10px;
  align-items: center;
  border: 2px solid #aaa;
  flex-direction: column;
  box-shadow: 0 0 5px #999;
  justify-content: space-between;
}
.guess-area {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: center;
}
@media(min-width: 420px) {
  .card strong {
    padding: 0;
    margin: 0;
    height: 20%;
  }
  .card div {
    padding: 0;
    margin: 0;
    height: 40%;
  }
}
.scores, .history {
  display: flex;
  direction: rtl;
  margin-top: 10px;
  text-align: right;
  align-items: center;
}
.scores {
  gap: 10px;
  justify-content: center;
}
.history {
  padding-top: 430px;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - 840px);
}
.btn {
  margin: 0;
  font: inherit;
  text-indent: 0;
  cursor: pointer;
  appearance: auto;
  text-shadow: none;
  user-select: none;
  color: buttontext;
  border-width: 2px;
  padding-block: 5px;
  text-align: center;
  border-radius: 5px;
  line-height: normal;
  padding-inline: 20px;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  border-style: outset;
  display: inline-block;
  border-image: initial;
  letter-spacing: normal;
  box-sizing: border-box;
  background: buttonface;
  border-color: buttonborder;
  -webkit-appearance: button;
}
.secondary {
  color: #fff;
  padding: 5px;
  font-size: .8rem;
  background: #900;
}
.btns {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.hidden-role {
  color: #ccc;
}
.history-entry {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}